<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
    <ul style="display: inline-block;display: flex;">

        <% classList.forEach(element => { %>
            
                <a href="/qr/<%- element %>"><%- element %></a>
                <form action="/delete" method="post">
                    <button type="submit" name="element" value=<%- element %> >delete</button>
                </form>
             
        <% }); %>
    </ul>
    <form method="post">
        <input type="text" name="class">
        <button type="submit">add class</button>
    </form>
</body>
</html>